<div class="page-header">
    <h1>Features</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Owner</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="feature in features" ng-click="showFeature(feature.id)" class="clickable">
            <td>{{feature.id}}</td>
            <td>{{feature.name}} {{feature.github_id}}</td>
            <td>{{feature.owner}}</td>
            <td>{{feature.author}}</td>
        </tr>
        </tbody>
    </table>
</div>
