<div class="page-header">
    <h1>{{feature.name}} {{feature.github_id}}</h1>
</div>
<div class="pull-right">
    <input type="submit" class="btn btn-primary" value="Edit Feature" ui-sref="editFeature({id: feature.id})">
    <input type="submit" class="btn btn-danger" value="Close Feature" ng-click="changeFeatureStatus('closed')" ng-show="feature.status === 2">
    <input type="submit" class="btn btn-success" value="Reopen Feature" ng-click="changeFeatureStatus('open')" ng-show="feature.status === 1">
</div>
<div class="panel-body">
    {{feature.description}}
</div>
<div class="panel-body">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Question</th>
            <th>Responder</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="question in questions" class="clickable">
            <td>{{question.id}}</td>
            <td>{{question.body}}</td>
            <td>{{question.responder}}</td>
            <td>{{question.author}}</td>
        </tr>
        </tbody>
    </table>
</div>