<div class="collapse navbar-collapse pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
        <li ng-if="!signedIn() && $state.current.name !== 'sign_in'"><a href="#" ui-sref="sign_in">Sign In</a></li>
        <li ng-if="!signedIn()&& $state.current.name !== 'sign_up'"><a href="#" ui-sref="sign_up">Sign Up</a></li>
        <li ng-if="signedIn()"><a href="#" ui-sref="features">Home</a></li>
        <li ng-if="signedIn()"><a href="#" ui-sref="newFeature">New Feature</a></li>
        <li ng-if="signedIn()"><a href="#">{{user.gitname}}</a></li>
        <li ng-if="signedIn()"><a href="#" ng-click="sign_out()">Sign Out</a></li>
    </ul>
</div>
